<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <div class="card">
            <h1 class="mb-4 h-color">Add Vehicle</h1>
            <div class="grid">
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">PO Number</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Plate Number</label>
                  <p-dropdown class="w-full" [options]="employee" [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="selectedEmployee" optionLabel="locationName" [filter]="true" filterBy="id"
                    [showClear]="true" placeholder="Select Plate Number
                  ">
                    <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="selectedEmployee">
                        <div>{{ selectedEmployee.id}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-employee pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ employee.id }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>  
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Make</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">year</label>
                  <p-dropdown class="w-full" [options]="employee" [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="selectedEmployee" optionLabel="locationName" [filter]="true" filterBy="id"
                    [showClear]="true" placeholder="Select Year
                  ">
                    <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="selectedEmployee">
                        <div>{{ selectedEmployee.id}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-employee pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ employee.id }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div> 
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Design</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Model</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Type</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Capacity</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Power</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Registration Expiry</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Fuel Type</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Vendor</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Insurance Expiry</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Lease Cost</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Lease Start Date</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Lease Expiry Date</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-12">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Usage Type</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-12">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Attachments</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
            </div>
            <div class="flex align-items-center justify-content-end mt-4">
                <p-button label="Cancel" class="bg-o-color mr" routerLink="/vehicle-type" styleClass="p-button-outlined">
                </p-button>
                <p-button label="Save" class="bg-b-color ml" >
                </p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
