<div class="grid">
  <app-app-topbar></app-app-topbar>
  <div class="col-12 lg:col-4 xl:col-4">
      <div class="card mb-0 custom-card">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">Tickets<i class="refresh ml-3 pi pi-sync"
                           [ngClass]="{'pi-spin': refresh }"
                          style="font-weight: bold;"></i></span>
                  <div
                      class="text-900 font-medium text-xl text-custom">totalTickets
                  </div>
                  <div
                      class="text-900 font-medium text-xl text-custom">**
                  </div>
              </div>
              <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-ticket text-blue-500 text-xl"></i>
              </div>
          </div>
          <div class="view">
              <span class="font-medium custom-span"
                  routerLink="/ticket/list">View <i class="pi pi-angle-right"></i></span>
          </div>
      </div>
  </div>
  <!-- <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">InActive Tickets</span>
                  <div class="text-900 font-medium text-xl text-custom">{{ inActiveTicketsCount !== null ?
                      inActiveTicketsCount :
                      0 }}</div>
              </div>
              <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-ticket text-orange-500 text-xl"></i>
              </div>
          </div>
          <span class="text-green-500 font-medium">%52+ </span>
          <span class="text-500">since last week</span>
      </div>
  </div> -->
  <div class="col-12 lg:col-4 xl:col-4">
      <div class="card mb-0 custom-card">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">Air Waybills</span>
                  <div
                      class="text-900 font-medium text-xl text-custom">awbCount</div>
                  <div
                      class="text-900 font-medium text-xl text-custom">**
                  </div>
              </div>
              <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-money-bill text-cyan-500 text-xl"></i>
              </div>
          </div>
          <div class="view">
              <span class="font-medium custom-span"
                  routerLink="/awb/list">View <i class="pi pi-angle-right"></i></span>
          </div>
      </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
      <div class="card mb-0 custom-card">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">Accounts</span>
                  <div
                      class="text-900 font-medium text-xl text-custom">totalAccountCount
                  </div>
                  <div
                      class="text-900 font-medium text-xl text-custom">**
                  </div>
              </div>
              <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-users text-purple-500 text-xl"></i>
              </div>
          </div>
          <div class="view">
              <span class="font-medium custom-span"
                  routerLink="/account/list">View <i class="pi pi-angle-right"></i></span>
          </div>
      </div>
  </div>



  <!-- <div class="col-12 xl:col-6">
      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full" style="font-weight: 700; font-size:18px;">Air WayBill Status Overview</h5>
          <p-chart class="custom-chart" type="doughnut" [data]="pieDataAwb"
              [options]="pieAwbOptions"></p-chart>
          <p-skeleton shape="circle" width="300px"
              height="300px"></p-skeleton>
      </div>
  </div> -->

      <div class="col-12 xl:col-6">
          <div class="card card-scroll" style="padding: 2rem 0rem; max-height:543px; min-height:543px;  overflow: auto;">
              <div style="padding: 0rem 2rem 1rem 2rem;" class="flex justify-content-between align-items-center">
                  <h5 class="mb-0" style="font-weight: 700; font-size:18px;">View Vehicle</h5>
              </div>
              <p-table #dt1 [value]="awbData" responsiveLayout="scroll" [globalFilterFields]="['uniqueNumber','awbStatus']"
                  rowHover="true">
                  <ng-template pTemplate="caption">
                      <div class="flex justify-content-between flex-column sm:flex-row">
                          <span class="p-input-icon-left mb-2 input-table">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text"
                                [(ngModel)]="value"
                                placeholder="Search......" class="w-full" />
                          </span>
                          <p-button type="button" icon="pi pi-search" (click)="search()" label="Search" class="ml-2"></p-button>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <div style="margin-top: 60px; line-height: 20px; display: flex; flex-wrap: wrap;">
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px; margin-bottom: 20px;">
                          <label htmlFor="poNumber" style="color: #2e026d;"><strong>PO Number: </strong></label>
                          <label>{{vehicle.processOrderNumber}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px;">
                          <label htmlFor="plateNumber" style="color: #2e026d;"><strong>Plate Number: </strong></label>
                          <label>{{vehicle.plateNumber}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px; margin-bottom: 20px;">
                        <label htmlFor="poNumber" style="color: #2e026d;"><strong>Make: </strong></label>
                        <label>{{vehicle.make}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px;">
                        <label htmlFor="plateNumber" style="color: #2e026d;"><strong>Year: </strong></label>
                        <label>{{vehicle.year}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px; margin-bottom: 20px;">
                        <label htmlFor="poNumber" style="color: #2e026d;"><strong>Type: </strong></label>
                        <label>{{vehicle.type}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px;">
                        <label htmlFor="plateNumber" style="color: #2e026d;"><strong>Region: </strong></label>
                        <label>{{vehicle.region}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px; margin-bottom: 20px;">
                        <label htmlFor="poNumber" style="color: #2e026d;"><strong>Country: </strong></label>
                        <label>{{vehicle.country}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px;">
                        <label htmlFor="plateNumber" style="color: #2e026d;"><strong>Vendor Name: </strong></label>
                        <label>{{vehicle.vendor.vendorName}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px; margin-bottom: 20px;">
                        <label htmlFor="poNumber" style="color: #2e026d;"><strong>Lease Cost: </strong></label>
                        <label>{{vehicle.leaseCost}}</label>
                      </div>
                      <div style="flex: 1 1 50%; box-sizing: border-box; padding: 0 15px;">
                        <label htmlFor="plateNumber" style="color: #2e026d;"><strong>Vehicle Status: </strong></label>
                        <label>{{vehicle.vehicleStatus}}</label>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                      <tr>
                          <td>
                              data.uniqueNumber
                          </td>
                          <td>
                              data.createdAt | date:'d MMM, Y'
                          </td>
                          <td>
                              <span [ngClass]="data.awbStatus">data.awbStatus</span>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
      </div>

  <div class="col-12 xl:col-6">
      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full" style="font-weight: 700; font-size:18px;">Vehicle History</h5>
          <p-timeline [value]="vehicleHistory" align="alternate" styleClass="customized-timeline">
            <ng-template pTemplate="marker" let-vehicleHistory>
                <span
                    class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
                    [style]="{ 'background-color': vehicleHistory.color }">
                        <i [class]="vehicleHistory.icon"></i>
                </span>
            </ng-template>
            <ng-template pTemplate="content" let-vehicleHistory>
              <p-card [header]="vehicleHistory.type">
                <p><strong><i class="bi bi-calendar" style="color: #4400ff;"></i></strong> {{vehicleHistory.createdAtDate}}</p>
                <p><strong><i class="bi bi-clock" style="color: #4400ff;"></i></strong> {{ removeSecondsFromTime(vehicleHistory.createdAtTime) }}</p><br>
                 <h3 *ngIf="vehicleHistory.type === 'Replacement' || vehicleHistory.type === 'Temporary Replacement'">
                  <p><strong>Replaced By : </strong> {{vehicleHistory.createdBy}}</p><br>
                   <h3>Replaced with</h3>Plate Number: {{vehicleHistory.plateNumber}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Assignment'">
                  <p><strong>Assigned By : </strong> {{vehicleHistory.createdBy}}</p><br>
                   <h3>Assigned To:</h3>Employ Number: {{vehicleHistory.empNo}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Assignment'">Name: {{vehicleHistory.empName}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Released'">Released By: {{vehicleHistory.createdBy}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Final Returned'">Returned By: {{vehicleHistory.createdBy}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Returned Back'">Returned By: {{vehicleHistory.createdBy}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Marked Total Lost'">Marked By: {{vehicleHistory.createdBy}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Set Permanent'">Set By: {{vehicleHistory.createdBy}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Vehicle Deleted'">Deleted By: {{vehicleHistory.createdBy}}</h3>
                 <h3 *ngIf="vehicleHistory.type === 'Creation'">Created By: {{vehicleHistory.createdBy}}</h3>
              </p-card>
            </ng-template>
        </p-timeline>
      </div>
  </div>

  <!-- <div class="lg:col-6 col-12">
      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full" style="font-weight: 700; font-size:18px;">Account Status Overview</h5>
          <p-chart type="doughnut"
              [data]="pieDataAccount" [options]="pieOptions"></p-chart>
          <p-skeleton shape="circle" width="300px"
              height="300px"></p-skeleton>
      </div>
  </div> -->


</div>
