<div class="grid">
  <app-app-topbar></app-app-topbar>
  <div class="col-12 lg:col-4 xl:col-4">
      <div class="card mb-0 custom-card">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">Vehicles<i class="refresh ml-3 pi pi-sync"
                           [ngClass]="{'pi-spin': refresh }"
                          style="font-weight: bold;"></i></span>
                  <div
                      class="text-900 font-medium text-xl text-custom">Total Vehicles
                  </div>
                  <div
                      class="text-900 font-medium text-xl text-custom">17
                  </div>
              </div>
              <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-car text-blue-500 text-xl"></i>
              </div>
          </div>
          <div class="view">
              <span class="font-medium custom-span"
                  routerLink="/view-vehicle">View <i class="pi pi-angle-right"></i></span>
          </div>
      </div>
  </div>
  <!-- <div class="col-12 lg:col-6 xl:col-3">
      <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">InActive Tickets</span>
                  <div class="text-900 font-medium text-xl text-custom">{{ inActiveTicketsCount !== null ?
                      inActiveTicketsCount :
                      0 }}</div>
              </div>
              <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-ticket text-orange-500 text-xl"></i>
              </div>
          </div>
          <span class="text-green-500 font-medium">%52+ </span>
          <span class="text-500">since last week</span>
      </div>
  </div> -->
  <div class="col-12 lg:col-4 xl:col-4">
      <div class="card mb-0 custom-card">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">Invoices</span>
                  <div
                      class="text-900 font-medium text-xl text-custom">Number of Invoices</div>
                  <div
                      class="text-900 font-medium text-xl text-custom">15
                  </div>
              </div>
              <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-fw pi-file-arrow-up text-cyan-500 text-xl"></i>
              </div>
          </div>
          <div class="view">
              <span class="font-medium custom-span"
                  routerLink="/invoice-details">View <i class="pi pi-angle-right"></i></span>
          </div>
      </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
      <div class="card mb-0 custom-card">
          <div class="flex justify-content-between mb-3">
              <div>
                  <span class="block text-500 font-medium mb-3 title-custom">Files</span>
                  <div
                      class="text-900 font-medium text-xl text-custom">Number of Files
                  </div>
                  <div
                      class="text-900 font-medium text-xl text-custom">10
                  </div>
              </div>
              <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                  [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <i class="pi pi-fw pi-file-arrow-up text-purple-500 text-xl"></i>
              </div>
          </div>
          <div class="view">
              <span class="font-medium custom-span"
                  routerLink="/account/list">View <i class="pi pi-angle-right"></i></span>
          </div>
      </div>
  </div>

  <div class="col-12 lg:col-12 xl:col-12">
    <div class="card">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
    </div>
  </div>


  <!-- <div class="col-12 xl:col-6">
      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full" style="font-weight: 700; font-size:18px;">Air WayBill Status Overview</h5>
          <p-chart class="custom-chart" type="doughnut" [data]="pieDataAwb"
              [options]="pieAwbOptions"></p-chart>
          <p-skeleton shape="circle" width="300px"
              height="300px"></p-skeleton>
      </div>
  </div> -->

  <!-- <div class="lg:col-6 col-12">
      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full" style="font-weight: 700; font-size:18px;">Account Status Overview</h5>
          <p-chart type="doughnut"
              [data]="pieDataAccount" [options]="pieOptions"></p-chart>
          <p-skeleton shape="circle" width="300px"
              height="300px"></p-skeleton>
      </div>
  </div> -->


</div>
