.container-sty {
    background-color: #f8f9fa;
    margin: 0px;
    padding: 0px;
    padding: 25px 25px;
  }
  .table-container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    height: 80vh;
  }
  .heading {
    color: #400099;
    display: inline-block;
    margin: 0px!important;
    font-weight: 600;
  }
  .bg-color {
    background-color: #400099;
    color: #ffffff;
  }
  .table-holder {
    max-height: 80%;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
  }

  .table thead tr {
    position: sticky;
    top: 0;
  }

  .table-holder::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .table-holder::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .table-holder::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  .table-holder::-webkit-scrollbar-thumb:hover:vertical {
    background: #555;
  }
  .btn-sty {
    border: 2px solid #400099;
    color: #400099;
    font-weight: bolder;
  }
  .btn-sty:hover i{
    background-color: #400099;
    color: #ffffff;
  }

  .btn-sty:hover {
      background-color: #400099;
      color: #ffffff;
    }
  .btn-sty{
      display: inline-block;
  }

  .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom:10px;
  }

  .fa-plus{
      color: #400099;
      height: 20px;
      width: 20px;
  }


  .fa-plus:hover{
      color: #ffffff;
  }
  .fa-pen{
  color: #ffffff;
  height:20px ;
  width: 20px;
  }
  .fa-trash{
  color: #ffffff;
  height:20px ;
  width: 20px;
  }
  .circle{
      border-radius:50%;
      width:35px ;
      height:35px ;
      margin: 0 5px;
  }
  .my-relative{
    position: absolute;
    top: 14px;
  }
  #hoverPlateNumber {
    position: relative;
  }

  #hoverPlateNumber::before,
  #hoverPlateNumber::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  #hoverPlateNumber:hover::before,
  #hoverPlateNumber:hover::after {
    background-color: #400099;
  }

  #hoverPlateNumber:hover {
    text-decoration: none;
    cursor: pointer;
  }
  .style{
    top: 14px;
    position: absolute;
  }

  .bold-and-color {
    font-weight: bold;
    color: #400099;
}

.color-red{
  color:red;
}
