<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <p-toast></p-toast>
        <div class="card flex justify-content-center">
          <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
          <p-button
            class="bg-b-color adjust mt-3"
            (click)="downloadExcelData()"
          >
            <i class="bi bi-download"></i>&nbsp; Export data
          </p-button>
        </div>
        <div class="body-card">
          <div class="table-head">
            <div class="grid mt-5">

              <div class="col-3">
                <p-button
                label="Clear"
                class="bg-b-color"
                (onClick)="clear()"
                icon="pi pi-filter-slash"
              ></p-button>
              </div>
              <div class="col-9 flex justify-content-end align-items-center">

                <p-button class="bg-b-color mr-2" routerLink="/add-assignment">
                  <i
                    class="bi bi-plus-lg"
                    style="font-size: 20px; font-weight: bold"
                  ></i
                  >&nbsp;Add Vehicle Assignment
                </p-button>

                <div class="flex flex-column gap-2 ml-5">
                <p-fileUpload #fileUpload icon="pi pi-download" iconPos="left"
                styleClass="p-button-outlined p-button-sm ml-2" mode="basic" chooseLabel="Upload" name="myfile[]"
                [customUpload]="true" (uploadHandler)="onUpload($event)" (onSelect)="onFileSelect()">
              </p-fileUpload>
              <ng-container *ngIf="fileSelected">
                <button class="p-button p-button-outlined p-button-sm" (click)="Cancel()">Cancel</button>
              </ng-container>
              </div>

              <div class="flex flex-column gap-2 ml-5">
                <p-button
                  label="Download Sample"
                  (click)="downloadAttachment(fileName)"
                  icon="bi bi-download"
                ></p-button>
              </div>

              </div>










            </div>
            <p-toolbar [style]="{ 'padding-top': '1.5rem' }">
              <div class="p-toolbar-group-start h-color">
                <strong> Search By :&nbsp; </strong>
                <span class="p-float-label">
                  <p-dropdown
                    [options]="vehicleAssignment"
                    (onChange)="getAllVehicleAssignmentByPlateNum($event.value)"
                    optionLabel="vehicle.plateNumber"
                    optionValue="vehicle.plateNumber"
                    placeholder="Plate No#"
                    [(ngModel)]="plateNumber"
                    [filter]="true"
                    dropdownicon="true"
                    [showClear]="true"
                    inputId="float-plateNumber"
                    filterBy="vehicle.plateNumber"
                    [disabled]="
                      empNoSearch || criteriaSearch || vehicleAssignmentType
                    "
                  ></p-dropdown>
                  <label for="float-plateNumber">Plate No#</label>
                </span>
              </div>
              <div class="p-toolbar-group-start h-color">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="vehicleAssignment"
                    (onChange)="
                      getAllVehicleAssignmentByEmployeeNum($event.value)
                    "
                    optionLabel="assignToEmpId.employeeNumber"
                    optionValue="assignToEmpId.employeeNumber"
                    placeholder="Employee No#"
                    [filter]="true"
                    [(ngModel)]="employeeNumber"
                    inputId="float-empNo"
                    [showClear]="true"
                    filterBy="assignToEmpId.employeeNumber"
                    [disabled]="
                      plateNoSearch || criteriaSearch || vehicleAssignmentType
                    "
                  ></p-dropdown>
                  <label for="float-empNo">Employee No#</label>
                </span>
              </div>

              <div class="">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="departmentList"
                    (onChange)="
                      getSearchAssignmentByAnyValue(
                        globalTransformObj.assignToEmpId
                      )
                    "
                    [(ngModel)]="globalTransformObj.assignToEmpId.department"
                    optionLabel="department"
                    optionValue="department"
                    placeholder="Department"
                    [filter]="true"
                    (onClear)="clearFields()"
                    inputId="float-department"
                    [showClear]="true"
                    filterBy="department"
                    [disabled]="
                      plateNoSearch || empNoSearch || vehicleAssignmentType
                    "
                  >
                  </p-dropdown>
                  <label for="float-department">Department</label>
                </span>
              </div>
              <div class="p-toolbar-group-start h-color">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="sectionList"
                    (onChange)="
                      getSearchAssignmentByAnyValue(
                        globalTransformObj.assignToEmpId
                      )
                    "
                    optionLabel="section"
                    [filter]="true"
                    optionValue="section"
                    inputId="float-section"
                    [(ngModel)]="globalTransformObj.assignToEmpId.section"
                    [showClear]="true"
                    (onClear)="clearFields()"
                    filterBy="section"
                    placeholder="Section"
                    [disabled]="
                      plateNoSearch || empNoSearch || vehicleAssignmentType
                    "
                  ></p-dropdown>
                  <label for="float-section">Section</label>
                </span>
              </div>

              <!-- <div
                class="p-toolbar-group-start h-color"
                *ngIf="plateNoSearch || empNoSearch || vehicleAssignmentType"
              >
                <span class="p-float-label">
                  <p-dropdown
                    [options]="sectionList"
                    (onChange)="getSearchAssignmentByAnyValue($event.value)"
                    optionLabel="section"
                    optionValue="section"
                    [filter]="true"
                    inputId="float-section"
                    [(ngModel)]="globalTransformObj.assignToEmpId.section"
                    [showClear]="true"
                    (onClear)="clearFields()"
                    filterBy="section"
                    placeholder="Section"
                    [disabled]="
                      plateNoSearch || empNoSearch || vehicleAssignmentType
                    "
                  ></p-dropdown>
                  <label for="float-section">Section</label>
                </span>
              </div> -->

              <div class="p-toolbar-group-start h-color">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="regionList"
                    (onChange)="
                      getSearchAssignmentByAnyValue(
                        globalTransformObj.assignToEmpId
                      )
                    "
                    optionLabel="region"
                    optionValue="region"
                    [filter]="true"
                    [(ngModel)]="globalTransformObj.assignToEmpId.region"
                    inputId="float-region"
                    (onClear)="clearFields()"
                    [showClear]="true"
                    filterBy="region"
                    placeholder="Region"
                    [disabled]="
                      plateNoSearch || empNoSearch || vehicleAssignmentType
                    "
                  ></p-dropdown>
                  <label for="float-region">Region</label>
                </span>
              </div>

              <!-- <div
                class="p-toolbar-group-start h-color"
                *ngIf="plateNoSearch || empNoSearch || vehicleAssignmentType"
              >
                <span class="p-float-label">
                  <p-dropdown
                    [options]="regionList"
                    (onChange)="getSearchAssignmentByAnyValue($event.value)"
                    optionLabel="region"
                    optionValue="region"
                    [filter]="true"
                    inputId="float-region"
                    (onClear)="clearFields()"
                    [showClear]="true"
                    [(ngModel)]="globalTransformObj.assignToEmpId.region"
                    filterBy="region"
                    placeholder="Region"
                    [disabled]="
                      plateNoSearch || empNoSearch || vehicleAssignmentType
                    "
                  ></p-dropdown>
                  <label for="float-region">Region</label>
                </span>
              </div> -->

              <div>
                <h3 class="p-toolbar-group-start h-color">
                  <p-button
                    label="Search"
                    class="bg-b-color"
                    (onClick)="searchCriteria()"
                    icon="pi pi-filter"
                    [disabled]="!criteriaSearch"
                  ></p-button>
                </h3>
              </div>
            </p-toolbar>
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <h2 class="h-color">Fleet Management</h2>
              </div>
              <div class="p-toolbar-group-start h-color">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="vehicleAssignmentTypes"
                    [(ngModel)]="slectedAssignmentType"
                    optionLabel="label"
                    optionValue="value"
                    (onChange)="searchByAssignmentType($event.value)"
                    placeholder="Assignment Type"
                    inputId="float-vehicleAssignmentStatusType"
                    [showClear]="true"
                    [disabled]="plateNoSearch || criteriaSearch || empNoSearch"
                  ></p-dropdown>
                  <label for="float-vehicleAssignmentStatusType"
                    >Assignment Type</label
                  >
                </span>
              </div>
            </p-toolbar>
          </div>

          <div class="card">
            <p-table
              [value]="vehicleAssignment"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="vehicle.plateNumber" class="text-center">Plate Number <p-sortIcon field="vehicle.plateNumber"></p-sortIcon></th>
                  <th pSortableColumn="assignToEmpId.employeeNumber" class="text-center">Assigned (Emp #) <p-sortIcon field="assignToEmpId.employeeNumber"></p-sortIcon></th>
                  <th pSortableColumn="assignToEmpName" class="text-center">Assigned (Emp Name) <p-sortIcon field="assignToEmpName"></p-sortIcon></th>
                  <th pSortableColumn="vehicle.design" class="text-center">Design <p-sortIcon field="vehicle.design"></p-sortIcon></th>
                  <th pSortableColumn="vehicle.make" class="text-center">Make <p-sortIcon field="vehicle.make"></p-sortIcon></th>
                  <th pSortableColumn="vehicle.model" class="text-center">Model <p-sortIcon field="vehicle.model"></p-sortIcon></th>
                  <th pSortableColumn="vehicle.year" class="text-center">Year <p-sortIcon field="vehicle.year"></p-sortIcon></th>
                  <th pSortableColumn="assignToEmpId.region" class="text-center">Region <p-sortIcon field="assignToEmpId.region"></p-sortIcon></th>
                  <th pSortableColumn="assignToEmpId.department" class="text-center">Department <p-sortIcon field="assignToEmpId.department"></p-sortIcon></th>
                  <th pSortableColumn="assignToEmpId.section" class="text-center">Section <p-sortIcon field="assignToEmpId.section"></p-sortIcon></th>
                  <th pSortableColumn="vehicle.leaseExpiryDate" class="text-center">Lease Expiry <p-sortIcon field="vehicle.leaseExpiryDate"></p-sortIcon></th>
                  <th pSortableColumn="vehicle.leaseCost" class="text-center">Lease Cost <p-sortIcon field="vehicle.leaseCost"></p-sortIcon></th>
                  <th class="text-center">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-vehicleAssignment>
                <tr>
                  <td
                    [classList]="
                      vehicleAssignment.vehicle.vehicleStatus === 'Replacement'
                        ? 'text-center color-red'
                        : 'text-center bold-and-color'
                    "
                    class="text-center bold-and-color"
                    id="hoverPlateNumber"
                    (click)="
                      navigateToViewVehicle(vehicleAssignment.vehicle.id)
                    "
                  >
                    {{ vehicleAssignment.vehicle.plateNumber }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.assignToEmpId.employeeNumber }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.assignToEmpName }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.vehicle.design }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.vehicle.make }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.vehicle.model }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.vehicle.year }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.assignToEmpId.region }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.assignToEmpId.department }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.assignToEmpId.section }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.vehicle.leaseExpiryDate }}
                  </td>
                  <td class="text-center">
                    {{ vehicleAssignment.vehicle.leaseCost }}
                  </td>

                  <td
                    class="text-center flex"
                    style="padding-top: 40px; padding-bottom: 40px"
                  >
                    <p-button
                      [routerLink]="['/view-assignment/', vehicleAssignment.id]"
                      pTooltip="View"
                      tooltipPosition="top"
                      icon="bi bi-eye"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                    >
                    </p-button>

                    <p-button
                      (click)="showDialog(vehicleAssignment.id)"
                      icon="bi bi-trash"
                      class="ml"
                      pTooltip="Delete Assignment"
                      tooltipPosition="top"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="danger"
                    >
                    </p-button>

                    <p-button
                      [routerLink]="[
                        '/assignment-attachment',
                        vehicleAssignment.id
                      ]"
                      pTooltip="Add Attachments"
                      tooltipPosition="top"
                      icon="bi bi-paperclip"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="warning"
                    >
                    </p-button>

                    <p-button
                      [routerLink]="[
                        '/assignment-history/',
                        vehicleAssignment.vehicle.id
                      ]"
                      pTooltip="View History"
                      tooltipPosition="top"
                      icon="bi bi-clock-history"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="success"
                    ></p-button>

                    <p-button
                      [routerLink]="[
                        '/individual-file-list-component/',
                        'vehicle-assignment',
                        vehicleAssignment.id
                      ]"
                      pTooltip="Download Attachments"
                      tooltipPosition="top"
                      icon="bi bi-download"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="secondary"
                    >
                    </p-button>
                    <p-button
                      *ngIf="
                        vehicleAssignment.vehicle.vehicleStatus !==
                        'Replacement'
                      "
                      (click)="replaceVehicle(vehicleAssignment.vehicle.id)"
                      pTooltip="Replace Vehicle"
                      tooltipPosition="top"
                      icon="bi bi-arrow-repeat"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="help"
                    ></p-button>
                    <p-button
                      *ngIf="
                        vehicleAssignment.vehicle.vehicleStatus ===
                        'Replacement'
                      "
                      pTooltip="Take Action"
                      tooltipPosition="top"
                      icon="bi bi-pencil-square"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="success"
                      (click)="takeAction(vehicleAssignment.vehicle.id)"
                    ></p-button>
                  </td>
                </tr>
                <p-dialog
                  [closable]="false"
                  [(visible)]="visible"
                  [breakpoints]="{ '960px': '75vw' }"
                  [style]="{ width: '50vw' }"
                  [draggable]="false"
                  [resizable]="false"
                  header="Are you Sure you want to delete this assignment?"
                >
                  <p-button
                    icon="pi pi-check"
                    (click)="closeDialog()"
                    label="Close"
                    styleClass="p-button-text"
                  ></p-button>
                  <p-button
                    label="Delete"
                    type="submit"
                    class="bg-b-color ml"
                    (click)="deleteVehicleAssignment(vehicleAssignmentId)"
                  >
                  </p-button>
                </p-dialog>
              </ng-template>
            </p-table>
            <div class="card flex justify-content-center">
              <p-paginator
                [rows]="query.size"
                [first]="query.page * query.size"
                [totalRecords]="totalRecords"
                (onPageChange)="onPageChange($event)"
                [alwaysShow]="true"
                [pageLinkSize]="4"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {{
                  query.page * query.size + 1
                }} to {{ (query.page + 1) * query.size }} of total {{
                  totalRecords
                }} entries"
              >
              </p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
