<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <p-toast></p-toast>
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <div class="table-head">
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <h2 class="h-color">User List</h2>
              </div>
              <div class="p-toolbar-group-end">
                <p-button class="bg-b-color" routerLink="/add-user">
                  <i
                    class="bi bi-plus-lg"
                    style="font-size: 20px; font-weight: bold"
                  ></i
                  >&nbsp;Add User
                </p-button>
              </div>
            </p-toolbar>
          </div>

          <div class="card">
            <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Role</th>

                  <th class="text-center">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-users>
                <tr>
                  <td class="text-center">{{ users.name }}</td>
                  <td class="text-center">{{ users.email }}</td>
                  <td *ngFor="let role of users.roles" class="text-center">
                    {{ role.name }}
                  </td>
                  <td class="text-center">
                    <p-button
                      [routerLink]="['/edit-user/', users.id]"
                      icon="bi bi-pen"
                      pTooltip="View"
                      class="ml mr"
                      [outlined]="true"
                      [rounded]="true"
                      tooltipPosition="top"
                      [raised]="true"
                      severity="success"
                    >
                    </p-button>
                    <p-button
                      icon="bi bi-trash"
                      class="ml"
                      pTooltip="Trash"
                      tooltipPosition="top"
                      [outlined]="true"
                      [rounded]="true"
                      [raised]="true"
                      severity="danger"
                      (onClick)="showDialog(users)"
                    >
                    </p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="Delete Permission"
  class="form-hook"
  [(visible)]="areYouSure"
  [style]="{ width: '50vw' }"
>
  <h4 class="mb-4">
    Are sure you want to delete this User
    <b class="deletePermission">{{ userRow?.name }}</b> on id
    {{ userRow?.id }}
  </h4>
  <p-button (click)="deleteUser(userRow)" class="bg-b-color">
    <i class="bi bi-trash" style="font-size: 20px; font-weight: bold"></i>
    Confirm Delete
  </p-button>
</p-dialog>
