<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
            <div class="table-head">
                <p-toolbar>
                    <div class="p-toolbar-group-start">
                      <h2 class="h-color">International Shipment By Road</h2>
                    </div>
                    <div class="p-toolbar-group-end">
                        <p-button class="bg-b-color" routerLink="/add-international-shipment-by-road">
                          <i class="bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add Shipment
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
          

          <div class="card">
            <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  
                  <th class="text-center">Origin Country</th>
                  <th class="text-center">Origin Port</th>
                  <th class="text-center">Referigirated Truck</th>
                  <th class="text-center">Mode</th>
                  <th class="text-center">Shipment Mode</th>
                  <th class="text-center">Pre-Alert Number</th>
                  <th class="text-center">Destination Country</th>
                  <th class="text-center">Destination Port</th>
                  <th class="text-center">Route Number</th>
                  <th class="text-center">ETD</th>
                  <th class="text-center">ETA</th>
                  <th class="text-center">ATD</th>
                  <th class="text-center">Actual Weight</th>
                  <th class="text-center">Number of Shipments</th>
                  <th class="text-center">Driver Name</th>
                  <th class="text-center">Driver Contact</th>
                  <th class="text-center">Reference Number</th>
                  <th class="text-center">Vehicle Type</th>
                  <th class="text-center">Number of Pallets</th>
                  <th class="text-center">Number of Bags</th>
                  <th class="text-center">Vehicle Number</th>
                  <th class="text-center">Tag Number</th>
                  <th class="text-center">Seal Number</th>
                  <th class="text-center">Attachements</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Remarks</th>
                  <th class="text-center">ATA</th>
                  <th class="text-center">Total Shipments</th>
                  <th class="text-center">Overages</th>
                  <th class="text-center">Overage AWBS</th>
                  <th class="text-center">Received</th>
                  <th class="text-center">Shortages</th>
                  <th class="text-center">Shortage AWBs</th>
                  <th class="text-center">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td class="text-center">{{ product.preAlertNumber}}</td>
                  <td class="text-center">{{ product.vehicalNumber}}</td>
                  <td class="text-center">{{ product.vehiclaType}}</td>
                  <td class="text-center">{{ product.mode}}</td>
                  <td class="text-center">{{ product.origin}}</td>
                  <td class="text-center">{{ product.originPort}}</td>
                  <td class="text-center">{{ product.destinationPort}}</td>
                  <td class="text-center">{{ product.weight}}</td>
                  <td class="text-center">{{ product.totalShipment}}</td>
                  <td class="text-center">{{ product.pallets}}</td>
                  <td class="text-center">{{ product.bags}}</td>
                  <td class="text-center">{{ product.etd}}</td>
                  <td class="text-center">{{ product.eta}}</td>
                  <td class="text-center">{{ product.ata}}</td>
                  <td class="text-center">{{ product.status}}</td>
                  <td class="text-center">{{ product.preAlertNumber}}</td>
                  <td class="text-center">{{ product.vehicalNumber}}</td>
                  <td class="text-center">{{ product.vehiclaType}}</td>
                  <td class="text-center">{{ product.mode}}</td>
                  <td class="text-center">{{ product.origin}}</td>
                  <td class="text-center">{{ product.originPort}}</td>
                  <td class="text-center">{{ product.destinationPort}}</td>
                  <td class="text-center">{{ product.weight}}</td>
                  <td class="text-center">{{ product.totalShipment}}</td>
                  <td class="text-center">{{ product.pallets}}</td>
                  <td class="text-center">{{ product.bags}}</td>
                  <td class="text-center">{{ product.etd}}</td>
                  <td class="text-center">{{ product.eta}}</td>
                  <td class="text-center">{{ product.ata}}</td>
                  <td class="text-center">{{ product.status}}</td>
                  <td class="text-center">{{ product.eta}}</td>
                  <td class="text-center">{{ product.ata}}</td>
                  <td class="text-center">{{ product.status}}</td>


                  <td class="text-center flex flex-row"> 
                    <p-button icon="bi bi-clock-history" routerLink="/international-shipment-history-by-road" class='mr' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                    
                    </p-button>
                    <p-button icon="bi bi-paperclip" class='ml mr' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                   
                    </p-button>
                    <p-button routerLink="/update-international-shipment-by-road" icon="bi bi-pen" class='ml mr' styleClass="p-button-rounded p-button-success p-button-text p-button-raised">
                     
                    </p-button>
                     <p-button icon="bi bi-trash" class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                    
                     </p-button>
                    
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
