<nav class="main-menu">
  <div class="sidebar-head">
    <img src="../../../assets/smca-logo.png" alt="" class="sidebar-img" />
  </div>
  <ul>
    <li *ngIf="hasPermission('Dashboard')">
      <a class="sidebar-list-hover text-white" routerLink="/home">
        <i class="bi bi-bar-chart-line-fill"></i>
        <span class="nav-text"> Dashboard </span>
      </a>
    </li>
    <li class="child" *ngIf="hasPermission('Employee')">
      <a class="sidebar-list-hover text-white" routerLink="/employee">
        <i class="bi bi-person-circle"></i>
        <span class="nav-text"> Employee </span>
      </a>
    </li>

    <li class="child" *ngIf="hasPermission('ViewVehicles')">
      <a class="sidebar-list-hover text-white" (click)="goToVehicle()">
        <i class="bi bi-truck"></i>
        <span class="nav-text"> Vehicle </span>
      </a>
    </li>
    <li class="child" *ngIf="hasPermission('ProjectVehicle')">
      <a class="sidebar-list-hover text-white" routerLink="/project-vehicle">
        <i class="bi bi-truck"></i>
        <span class="nav-text"> Project Vehicle </span>
      </a>
    </li>
    <li class="child" *ngIf="hasPermission('Assignment')">
      <a class="sidebar-list-hover text-white" routerLink="/assignment">
        <i class="bi bi-clipboard2-check"></i>
        <span class="nav-text"> Fleet Management </span>
      </a>
    </li>
    <li class="child" *ngIf="hasPermission('ReportManagement')">
      <span class="sidebar-list-hover" routerLink="/report-managment-list">
        <i class="bi bi-houses-fill"></i>
        <span class="nav-text"> Report Management </span>
      </span>
    </li>
    <li class="child" *ngIf="hasPermission('InvoiceApproval')">
      <span class="sidebar-list-hover" routerLink="/invoice-supplier">
        <i class="bi bi-file-earmark-arrow-up"></i>
        <span class="nav-text"> Invoice Approval </span>
      </span>
    </li>
    <li class="child" *ngIf="hasPermission('DeletedVehicles')">
      <span class="sidebar-list-hover" routerLink="/deleted-vehicles">
        <i class="bi bi-truck"></i>
        <span class="nav-text"> Deleted Vehicles </span>
      </span>
    </li>
    <li class="child" *ngIf="hasPermission('User')">
      <a class="sidebar-list-hover text-white" routerLink="/user">
        <i class="bi bi-people-fill"></i>
        <span class="nav-text"> User </span>
      </a>
    </li>

    <li (click)="turner()">
      <span class="sidebar-list-hover">
        <i class="bi bi-gear-fill"></i>
        <span class="nav-text">
          Configuration
          <i
            *ngIf="configTurner"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-down-fill"
          ></i>
          <i
            *ngIf="!configTurner"
            style="display: inline; font-size: 15px"
            class="bi bi-caret-right-fill"
          ></i>
        </span>
      </span>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Vendor')">
      <a class="sidebar-list-hover text-white" routerLink="/vendor">
        <i class="bi bi-person-plus"></i>
        <span class="nav-text"> Vendor </span>
      </a>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Permission')">
      <a class="sidebar-list-hover text-white" routerLink="/permission">
        <i class="bi bi-key"></i>
        <span class="nav-text"> Permission </span>
      </a>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Role')">
      <a class="sidebar-list-hover text-white" routerLink="/role">
        <i class="bi bi-person-gear"></i>
        <span class="nav-text"> Role </span>
      </a>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('Grade')">
      <a class="sidebar-list-hover text-white" routerLink="/grade-list">
        <i class="bi bi-google"></i>
        <span class="nav-text"> Grade </span>
      </a>
    </li>

    <li class="child" *ngIf="configTurner && hasPermission('City')">
      <a class="sidebar-list-hover text-white" routerLink="/city-list">
        <i class="bi bi-r-circle"></i>
        <span class="nav-text"> City </span>
      </a>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('ProductField')">
      <a class="sidebar-list-hover text-white" routerLink="/productFields">
        <i class="bi bi-bookmark-plus"></i>
        <span class="nav-text"> Product Field </span>
      </a>
    </li>

    <li class="child" *ngIf="configTurner && hasPermission('Region')">
      <a class="sidebar-list-hover text-white" routerLink="/get-all-regions">
        <i class="bi bi-houses-fill"></i>
        <span class="nav-text"> Regions </span>
      </a>
    </li>
    <li class="child" *ngIf="configTurner && hasPermission('JobTitle')">
      <a class="sidebar-list-hover text-white" routerLink="/job-title-list">
        <i class="bi bi-houses-fill"></i>
        <span class="nav-text"> Job Title </span>
      </a>
    </li>
  </ul>
</nav>
