<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast></p-toast>
          <div class="card">
            <h1 class="mb-4 h-color">Update Vehicle</h1>
            <form #vehicleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">PO Number</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="processOrderNumber"
                    [(ngModel)]="vehicle.processOrderNumber"
                    #processOrderNumber="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="processOrderNumber.invalid && (processOrderNumber.dirty || processOrderNumber.touched)"
                  > Process OrderNumber Name is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Plate Number</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="plateNumber"
                    [(ngModel)]="vehicle.plateNumber"
                    #plateNumber="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="plateNumber.invalid && (plateNumber.dirty || plateNumber.touched)"
                  > Plate Number is required
                  </small>

                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Make</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="make"
                    [(ngModel)]="vehicle.make"
                    #make="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="make.invalid && (make.dirty || make.touched)"
                  > Make is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">year</label>
                  <p-dropdown
                    class="w-full"
                    [(ngModel)]="vehicle.year"
                    [options]="dummyData"
                    name="year"
                    #year="ngModel"
                    [required]="true"
                    optionLabel="locationName"
                    optionValue="locationName"
                    [showClear]="true">

                    <ng-template pTemplate="selectedItem">
                      <div
                        class="flex align-items-center gap-2"
                        *ngIf="vehicle"
                      >
                        <div>{{ vehicle.year }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-dummyData pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ dummyData.locationName }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Design</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="design"
                    [(ngModel)]="vehicle.design"
                    #design="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="design.invalid && (design.dirty || design.touched)"
                  > Design is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Model</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="model"
                    [(ngModel)]="vehicle.model"
                    #model="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="model.invalid && (model.dirty || model.touched)"
                  > Model is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Type</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="type"
                    [(ngModel)]="vehicle.type"
                    #type="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="type.invalid && (type.dirty || type.touched)"
                  > Model is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Capacity</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="capacity"
                    [(ngModel)]="vehicle.capacity"
                    #capacity="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)"
                  > Capacity is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Power</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="power"
                    [(ngModel)]="vehicle.power"
                    #power="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="power.invalid && (power.dirty || power.touched)"
                  > Power is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Region</label>
                  <p-dropdown
                    class="w-full"
                    [(ngModel)]="vehicle.region"
                    [options]="region"
                    name="region"
                    #regionModel="ngModel"
                    [required]="true"
                    optionLabel="name"
                    optionValue="name"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    placeholder="Select Region"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div class="flex align-items-center gap-2" *ngIf="vehicle.region">
                        <div>{{ vehicle.region }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-region pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ region.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <small
                    id="name-help"
                    class="p-dropdown-empty-message"
                    *ngIf="regionModel.invalid && (regionModel.dirty || regionModel.touched)"
                  > Region is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Registration Expiry</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="registrationExpiry"
                    [(ngModel)]="vehicle.registrationExpiry"
                    #registrationExpiry="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="registrationExpiry.invalid && (registrationExpiry.dirty || registrationExpiry.touched)"
                  > Registration Expiry is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Fuel Type</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="fuelType"
                    [(ngModel)]="vehicle.fuelType"
                    #fuelType="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="fuelType.invalid && (fuelType.dirty || fuelType.touched)"
                  > Fuel Type Expiry is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Vendor</label>

                  <p-dropdown
                      class="w-full"
                      [(ngModel)]="vehicle.vendor"
                      [options]="vendors"
                      name="vendor"
                      #vendor="ngModel"
                      [required]="true"
                      optionLabel="vendorName"
                      [filter]="true"
                      filterBy="vendorName"
                      [showClear]="true">

                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="vehicle.vendor"
                        >
                          <div>{{ vehicle.vendor.vendorName }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-vendors pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ vendors.vendorName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Insurance Expiry</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="insuranceExpiry"
                    [(ngModel)]="vehicle.insuranceExpiry"
                    #insuranceExpiry="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="insuranceExpiry.invalid && (insuranceExpiry.dirty || insuranceExpiry.touched)"
                  > Insurance Expiry Expiry is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Lease Cost</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="leaseCost"
                    [(ngModel)]="vehicle.leaseCost"
                    #leaseCost="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="leaseCost.invalid && (leaseCost.dirty || leaseCost.touched)"
                  > Lease Cost Expiry Expiry is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Lease Start Date</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="leaseStartDate"
                    [(ngModel)]="vehicle.leaseStartDate"
                    #leaseStartDate="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="leaseStartDate.invalid && (leaseStartDate.dirty || leaseStartDate.touched)"
                  > Lease Start Date is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Lease Expiry Date</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="leaseExpiryDate"
                    [(ngModel)]="vehicle.leaseExpiryDate"
                    #leaseExpiryDate="ngModel"
                    required
                  />
                  <small
                      id="name-help" class="p-dropdown-empty-message"
                      *ngIf="leaseExpiryDate.invalid && (leaseExpiryDate.dirty || leaseExpiryDate.touched)"
                  > Lease Expiry Date Start Date is required
                  </small>
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Usage Type</label>
                  <p-dropdown
                      class="w-full"
                      [(ngModel)]="vehicle.usageType"
                      [options]="usageTypes?.productFieldValuesList"
                      name="usageType"
                      #usageType="ngModel"
                      [required]="true"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"

                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="vehicle"
                        >
                          <div>{{ vehicle.usageType }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-usageTypes pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ usageTypes.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                    <small
                        id="name-help" class="p-dropdown-empty-message"
                        *ngIf="usageType.invalid && (usageType.dirty || usageType.touched)"
                    > Usage Type is required
                    </small>
                </div>
              </div>

              <div class="col-12 md:col-12 lg:col-6">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Usage Type</label>
                  <p-dropdown
                      class="w-full"
                      [(ngModel)]="vehicle.category"
                      [options]="categories?.productFieldValuesList"
                      name="category"
                      #category="ngModel"
                      [required]="true"
                      optionLabel="name"
                      optionValue="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"

                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="vehicle"
                        >
                          <div>{{ vehicle.category }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-categories pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ categories.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                    <small
                        id="name-help" class="p-dropdown-empty-message"
                        *ngIf="category.invalid && (category.dirty || category.touched)"
                    > Category is required
                    </small>
                </div>
              </div>

            </div>

            <div class="flex align-items-center justify-content-end mt-4">
              <p-button
                label="Back"
                routerLink="/vehicle"
                styleClass="p-button-outlined"
              >
              </p-button>

              <p-button
                  label="Final Return"
                  class="ml"
                  (click)="showDialog()"
                  styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
                >
                </p-button>

              <p-button label="Update" type="submit" class="bg-b-color ml" [disabled]="vehicleForm.invalid || vehicleForm.invalid === null"> </p-button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <p-dialog
      [closable]="true"
      [(visible)]="visible"
      [breakpoints]="{ '960px': '75vw' }"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
      header="Replace Vehicle"
    >

    <div *ngIf="vehicle.vehicleStatus === 'Under Maintenance'" >
      <h3>This Vehicle has a temporary replacement vehicle</h3><br>
      <div class="grid">
        <p class="col-12 md:col-12 lg:col-6"><strong>Plate Number: </strong>{{replacementVehicle.plateNumber}}</p><br>
        <p class="col-12 md:col-12 lg:col-6"><strong>Vendor: </strong>{{replacementVehicle.vendor.vendorName}}</p><br>
        <p class="col-12 md:col-12 lg:col-6"><strong>Replace Lease Cost: </strong>{{replacementVehicle.replaceLeaseCost}}</p><br>
        <p class="col-12 md:col-12 lg:col-6"><strong>Replacement Date: </strong>{{replacementVehicle.replacementDate}}</p><br>
      </div><br>
    </div>

    <h3 *ngIf="vehicle.vehicleStatus === 'Under Maintenance'">Do you want to make this Replacement Permenant Or Want to Replace with new Vehicle?<br></h3>
    <h3 *ngIf="vehicle.vehicleStatus !== 'Under Maintenance'">Do you want to add replacing Vehicle? </h3><br>
    <div class="button-container">
      <p-button
        icon="pi pi-check"
        (click)="closeDialog()"
        label="{{vehicle.vehicleStatus === 'Under Maintenance' ? 'Make Permenant' : vehicle.vehicleStatus === 'TBA' ? 'Final Return': 'No' }}"
        styleClass="p-button-text"
        class="ml"
      ></p-button>
      <p-button
        label="Replace"
        (click)="navigateToAddVehicle()"
        class="bg-b-color ml"
      ></p-button>
    </div>
    </p-dialog>

    <p-dialog
      [closable]="true"
      [(visible)]="assignmentDialogVisible"
      [breakpoints]="{ '960px': '75vw' }"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
      header="Final Return"
    >

    <div *ngIf="assignment">
      <h3>This Vehicle is assigned to an employee</h3><br>
      <div class="grid">
        <p class="col-12 md:col-12 lg:col-6"><strong>Plate Number: </strong>{{assignment.vehicle.plateNumber}}</p><br>
        <p class="col-12 md:col-12 lg:col-6"><strong>Emp Id: </strong>{{assignment.assignToEmpId.employeeNumber}}</p><br>
        <p class="col-12 md:col-12 lg:col-6"><strong>Emp Name: </strong>{{assignment.assignToEmpName}}</p><br>
      </div><br>
    </div>

    <h3>Final Returning this vehicle will release the assignment. Are you sure you want to final return this vehicle? </h3><br>
    <div class="button-container">
      <p-button
        icon="pi pi-check"
        (click)="closeAssignmentDialog()"
        label="No"
        styleClass="p-button-text"
        class="ml"
      ></p-button>
      <p-button
        label="Yes"
        (click)="finalReturnVehicle()"
        class="bg-b-color ml"
      ></p-button>
    </div>
    </p-dialog>
  </div>
</div>
