<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <p-toast></p-toast>
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
            <div class="table-head">
              <div class="flex mb-2 align-items-center gap-1" style="justify-content: flex-end; align-items: flex-end;">            
                <p-button class="bg-b-color" routerLink="/add-driver">
                    <i class="bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add Driver
                  </p-button>
              </div>
                <p-toolbar>
                    <div class="p-toolbar-group-start">
                      <h2 class="h-color">Driver List</h2>
                    </div>
                    <div class="card flex flex-wrap justify-content-center gap-3">
                      <span class="p-input-icon-left">
                        <i class="my-relative bi bi-search"></i>
                        <input type="text" pInputText [(ngModel)]="value" (input)="getAllDrivers()"
                          placeholder="Search Employee Number" />
                      </span>
                    </div>
                    
                </p-toolbar>
            </div>
          <div class="card">
            <p-table [value]="driver" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  
                  <th class="text-center">Emp Number</th>
                  <th class="text-center">Emp Name</th>
                  <th class="text-center">Job Title</th>
                  <th class="text-center">Date of Joining</th>
                  <th class="text-center">Department</th>
                  <th class="text-center">Section</th>
                  <th class="text-center">Region</th>
                  <th class="text-center">City</th>
                  <th class="text-center">Nationality</th>
                  <th class="text-center">Contact Number</th>
                  <th class="text-center">Company email address</th>
                  <th class="text-center">Grade</th>
                  <th class="text-center">License Number</th>
                  <th class="text-center">Vehicle Budget</th>
                  <th class="text-center">Cost Center</th>
                  <th class="text-center">Assigned Vehicle</th>
                  <th class="text-center"> Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-driver>
                <tr>
                  <td class="text-center">{{ driver.empId.employeeNumber }}</td>
                  <td class="text-center">{{ driver.empName }}</td>
                  <td class="text-center">{{ driver.title }}</td>
                  <td class="text-center">{{ driver.joiningDate }}</td>
                  <td class="text-center">{{ driver.department }}</td>
                  <td class="text-center">{{ driver.section }}</td>
                  <td class="text-center">{{ driver.region }}</td>
                  <td class="text-center">{{ driver.city }}</td>
                  <td class="text-center">{{ driver.nationality }}</td>
                  <td class="text-center">{{ driver.contactNumber }}</td>
                  <td class="text-center">{{ driver.emailAddress }}</td>
                  <td class="text-center">{{ driver.grade }}</td>
                  <td class="text-center">{{ driver.licenseNumber }}</td>
                  <td class="text-center">{{ driver.vehicleBudget }}</td>
                  <td class="text-center">{{ driver.empId.costCenter }}</td>
                  <td class="text-center">{{ driver.assignedVehicle }}</td>
                  <td class="text-center "> 
                    <div class="w-full flex">
                      <p-button [routerLink]="['/view-driver/', driver.id]" pTooltip="View" tooltipPosition="top" icon="bi bi-eye"class='ml mr' [outlined]="true" [rounded]="true" [raised]="true">
                      </p-button> 
                      <p-button [routerLink]="['/edit-driver/', driver.id]" icon="bi bi-pen" pTooltip="Edit" tooltipPosition="top" class='mr' [outlined]="true" [rounded]="true" [raised]="true" severity="success">
                     
                      </p-button>
                       <p-button (click)="deleteDriver(driver.id)" icon="bi bi-trash" class='ml'  pTooltip="Trash" tooltipPosition="top" [outlined]="true" [rounded]="true" [raised]="true" severity="danger">
                      
                       </p-button>
                       <p-button [routerLink]="['/driver-attachment',driver.id]"  icon="bi bi-paperclip"   pTooltip="Add Attachments" tooltipPosition="top"class='ml mr' [outlined]="true" [rounded]="true" [raised]="true" severity="warning">
                     
                       </p-button>
                       <p-button [routerLink]="['/individual-file-list-component/','driver',driver.id]"  pTooltip="Download Attachments" tooltipPosition="top" icon="bi bi-download" class='ml mr' [outlined]="true" [rounded]="true" [raised]="true">
                      </p-button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <!-- <p-paginator [rows]="query.size" [first]="query.page * query.size" [totalRecords]="totalRecords"
            (onPageChange)="onPageChange($event)" [alwaysShow]="false" [pageLinkSize]="4"
            [showCurrentPageReport]="true">
          </p-paginator> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
