<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <div class="card">
            <h1 class="mb-4 h-color">Edit International Shipment By Road</h1>
            <div class="grid">

              <!-- 1 -->
              
              <div class="col-12 md:col-6 lg:col-4">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Origin Country

                  </label>
                  <p-dropdown class="w-full" [options]="location" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedLocation" optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true" placeholder="Select a Origin Country
                  ">
                      <ng-template pTemplate="selectedItem">
                          <div class="flex align-items-center gap-2" *ngIf="selectedLocation">
                              <div>{{ selectedLocation.locationName}}</div>
                          </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                          <div class="flex align-items-center gap-2">
                              <div>{{ location.locationName }}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </div>
              </div>
              <div class="col-12 md:col-6 lg:col-4">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Origin Port
                  </label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-4">
                <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Referigirated Truck</label>
                  <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>

              <!-- 2 -->
              <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Mode</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Shipment Mode
                    </label>
                    <p-dropdown class="w-full" [options]="location" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedLocation" optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true" placeholder="Select a Shipment Mode
                    ">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedLocation">
                                <div>{{ selectedLocation.locationName}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-location pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ location.locationName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Pre-Alert Number</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>

                <!-- 3 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Destination Country

                    </label>
                    <p-dropdown class="w-full" [options]="location" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedLocation" optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true" placeholder="Select a Destination Country
                    ">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedLocation">
                                <div>{{ selectedLocation.locationName}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-location pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ location.locationName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Destination Port</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                      <label htmlFor="name">Route Number</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>

                <!-- 4 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">ETD</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">ETA</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">ATD</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div> 

                <!-- 5 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Actual Weight</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Number of Shipments</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    
                </div>

                <!-- 6 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Driver Name</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Driver Contact</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Reference Number</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>

                <!-- 7 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Vehicle Type</label>
                    <p-dropdown class="w-full" [options]="location" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedLocation" optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true" placeholder="Select a Vehicle Type">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedLocation">
                                <div>{{ selectedLocation.locationName}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-location pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ location.locationName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Number of Pallets</label>
                    <p-dropdown class="w-full" [options]="location" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedLocation" optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true" placeholder="Select a Number of Pallets">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedLocation">
                                <div>{{ selectedLocation.locationName}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-location pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ location.locationName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Number of Bags</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
<!-- 8 -->
              <div class="col-12 md:col-6 lg:col-4">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Vehicle Number</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="name"
                  />
                  <!-- <small id="name-help"
                    >{{name}}</small
                  > -->
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Tag Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
              </div>
              <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Seal Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
              </div>
              <!-- 9 -->

             
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2 form-hook">
                  <label htmlFor="name">Status</label>
                  <p-dropdown class="w-full" [options]="location" [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedLocation" optionLabel="locationName" [filter]="true" filterBy="locationName" [showClear]="true" placeholder="Select a Status">
                      <ng-template pTemplate="selectedItem">
                          <div class="flex align-items-center gap-2" *ngIf="selectedLocation">
                              <div>{{ selectedLocation.locationName}}</div>
                          </div>
                      </ng-template>
                      <ng-template let-location pTemplate="item">
                          <div class="flex align-items-center gap-2">
                              <div>{{ location.locationName }}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Remarks</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>

                <!-- 10 -->

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">ATA</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Total Shipments</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                    <div class="flex flex-column gap-2">
                      <label htmlFor="name">Overages</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <!-- 11 -->
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Overage AWBs</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      [ngModelOptions]="{standalone:true}"
                      [(ngModel)]="name"
                    />
                    <!-- <small id="name-help"
                      >{{name}}</small
                    > -->
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                      <label htmlFor="name">Received</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                      <label htmlFor="name">Shortages</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                  <div class="flex flex-column gap-2">
                      <label htmlFor="name">Shortages AWBs</label>
                      <input
                        pInputText
                        id="name"
                        aria-describedby="name-help"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="name"
                      />
                      <!-- <small id="name-help"
                        >{{name}}</small
                      > -->
                    </div>
                </div>

            </div>
            <h2 class="mb-4 mt-4">Attachments</h2>
            <div class="grid">
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="AWB Copies" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Invoices" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class="lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Manifest" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Transit Manifest" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="MAWB" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Vehicle Manifest" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" md:col-offset-0 lg:col-offset-2 lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Export Bayan" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Import Bayan LV" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" md:col-offset-3 lg:col-offset-0 lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Import Bayan HV" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
              <div class=" lg:col-2 md:col-3 sm:col-6">
                <div class="card flex justify-content-center">
                  <p-fileUpload mode="basic" chooseLabel="Other Attachements" name="demo[]"   [maxFileSize]="size" (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
              </div>
            </div>
            <div class="flex align-items-center justify-content-end mt-4">
                <p-button label="Cancel" class="bg-o-color mr" routerLink="/international-shipment-by-road" styleClass="p-button-outlined">
                </p-button>
                <p-button label="Save" class="bg-b-color ml" >
                </p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
