<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>

    <div class="main-container">
        <div>
            <h3>{{heading}} Product Field</h3>
        </div>

            <form #productField="ngForm">
                <div class="order-body">
                    <div class="row order-form">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg-ss">
                                <label class="add-order-label">Name</label>
                                <input type="text" class="form-control order-search" [(ngModel)]="name" name="productFieldName">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg-ss">
                            <label class="add-order-label">Select Type</label>
                            <select (ngModelChange)="type()" name="dropdownType" [(ngModel)]="selectedDropdownType" class="order-search form-control" >
                                <option value="" disabled selected>Select Dropdown Type</option>
                                <option value="DROPDOWN"  selected>DROPDOWN</option>
                                <option value="MULTISELECT"  selected>MULTISELECT</option>
                                <!-- <option *ngFor="let origin of originCountry" value="origin">{{origin}}</option> -->
                            </select>
                        </div>
                    </div>
                </div>

                <div *ngIf="makeProductField"  class="row text-right mt-4 mb-3">
                    <div>
                        <button type="button" class="btn btn-sty" (click)="addProductFieldValues()">Add</button>
                    </div>
                </div>

                <div class="order-body mt-2" *ngFor="let pfVal of productFieldValues; let i = index">
                    <div class="row order-form">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 marg-ss ">
                                <label class="add-order-label">Name</label>
                                <input type="text" class="form-control order-search" [(ngModel)]="pfVal.name" [name]="'pfValuesName'+i">
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 marg-ss ">
                            <div class="mt-5">
                                <button type="button" (click)="removeProductFieldValues(i)" class="btn btn-sty">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row text-right mt-4 mb-3">
                    <div>
                        <button class="btn btn-sty" (click)="addFormProducts()">{{buttonText}}</button>
                    </div>
                </div>

            </form>

    </div>

</div>
