<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <p-toast></p-toast>
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <div class="card">
            <h1 class="mb-4 h-color">Add Role</h1>
            <div class="grid">
              <div class="col-12 md:col-12 lg:col-12">
                <div class="flex flex-column gap-2">
                  <label htmlFor="name">Role</label>
                  <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="role.name"
                    required="true"
                  />
                </div>
              </div>
              <div class="col-12 md:col-12 lg:col-12">
                <div class="flex flex-column gap-2 form-hook">
                  <div class="flex flex-right mb-3">
                    <label for="permissions">Permissions:</label>
                    <div>
                      <input
                        type="checkbox"
                        id="select-all"
                        (change)="selectAllPermissions($event)"
                      />
                      <label for="select-all">Select All</label>
                    </div>
                  </div>
                  <div class="checkbox-grid">
                    <ng-container *ngFor="let perm of permission">
                      <div class="col-2">
                        <!-- If permission is not "Vehicle", render as usual -->
                        <ng-container *ngIf="!perm.name?.includes('Vehicle')">
                          <input
                            type="checkbox"
                            id="{{ perm.id }}"
                            [(ngModel)]="perm.status"
                            (change)="checkIsSeletAll(permission)"
                          />
                          <label for="{{ perm.id }}">{{ perm.name }}</label>
                        </ng-container>
                        <!-- If permission is "Vehicle", render as a collapsible section -->
                        <ng-container *ngIf="perm.name === 'Vehicles'">
                          <!-- Collapsible section -->
                          <div style="margin-left: -1rem !important">
                            <!-- Icon for toggling collapse -->
                            <span (click)="toggleCollapse()">
                              <i
                                class="pi"
                                [ngClass]="
                                  vehicleCollapse
                                    ? 'pi-angle-down'
                                    : 'pi-angle-right'
                                "
                              ></i>
                            </span>
                            <!-- Label for the collapsible section -->
                            <label (click)="toggleCollapse()">{{
                              perm.name
                            }}</label>
                            <!-- Collapsible content -->
                            <div
                              class="vehicle-content"
                              [class.vehicle-properties]="!vehicleCollapse"
                              [class.active]="vehicleCollapse"
                            >
                              <ng-container
                                *ngFor="
                                  let item of vehiclePermissionObject[
                                    'Vehicles'
                                  ]
                                "
                              >
                                <div style="display: flex">
                                  <input
                                    (change)="childPermissions(item)"
                                    type="checkbox"
                                    id="{{ item.id }}"
                                    [(ngModel)]="item.status"
                                  />
                                  <h5 style="align-items: center">
                                    {{ item.name }}
                                  </h5>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/role"
                  styleClass="p-button-outlined"
                >
                </p-button>
                <p-button
                  label="Save"
                  class="bg-b-color ml"
                  [disabled]="!role.name"
                  (onClick)="addRole()"
                >
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
