<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
      <div class="body-holder">
        <app-dashboard-head></app-dashboard-head>
  
        <div class="main">
          <div class="card flex justify-content-center">
              <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
          </div>
          <div class="body-card">
              <div class="table-head">
                  <p-toolbar>
                      <div class="p-toolbar-group-start">
                        <h2 class="h-color">Employee</h2>
                      </div>
                      <div class="p-toolbar-group-end">
                          <p-button class="bg-b-color" routerLink="/add-employee">
                            <i class="bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add Employee
                          </p-button>
                      </div>
                  </p-toolbar>
              </div>
            
  
            <div class="card">
              <p-table [value]="employee" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    
                    <th class="text-center">Employee Id</th>
                    <th class="text-center">Employee Name</th>
                    <th class="text-center">Job Title</th>
                    <th class="text-center">Date Of Joining</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Section</th>
                    <th class="text-center">Region</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Nationality</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Company Email Address</th>
                    <th class="text-center">Grade</th>
                    <th class="text-center">License Number</th>
                    <th class="text-center">Vehicle Budget</th>
  
                    
                   
                    <th class="text-center">Actions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee>
                  <tr>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>
                    <td class="text-center">{{ employee.name }}</td>

  
                    <td class="text-center flex"> 
                       <p-button routerLink="/edit-employee" icon="bi bi-pen" class='mr' styleClass="p-button-rounded p-button-success p-button-text p-button-raised">
                         
                       </p-button>
                        <p-button icon="bi bi-trash" class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                       
                        </p-button>
                        <p-button icon="bi bi-paperclip" class='ml mr' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                      
                        </p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>