<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>

  <div class="main-container">
    <div class="row">
      <div class="main-container">
        <div class="row">
          <div class="container-fluid container-sty">
            <div class="table-container">
             <div class="header">
                <h3 class="heading">Product Field</h3>
                <button routerLink="/add-product-field" type="button" class="btn btn-sty">
                    <i class="fa fa-plus"></i>
                    Add 
                </button>
             </div>
              <div class="table-holder">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center nowrap col-md-2 col-lg-1 bg-color">
                        Name
                      </th>
                      <th class="text-center nowrap col-md-2 col-lg-1 bg-color">
                        Created at
                      </th>
                      <th class="text-center nowrap col-md-2 col-lg-1 bg-color">
                        Type
                      </th>
                      <th class="text-center nowrap col-md-2 col-lg-1 bg-color">
                        Status
                      </th>
                      <th class="text-center nowrap col-md-2 col-lg-1 bg-color">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let productField of productFieldList">
                      <td class="text-center w-auto col-md-2 col-lg-1">
                        {{productField.name}}
                      </td>
                      <td class="text-center w-auto col-md-2 col-lg-1">
                        {{productField.createdAt}}
                      </td>
                      <td class="text-center w-auto col-md-2 col-lg-1">
                        {{productField.type}}
                      </td>
                      <td class="text-center w-auto col-md-2 col-lg-1">
                        {{productField.status}}
                      </td>
                      <td class="text-center w-auto col-md-2 col-lg-1 ">
                    
                        <button (click)="edit(productField.id)" type="button" class="p-0 btn btn-success circle">
                          <i class="bi bi-pen"></i>
                        </button>
                        <button (click)="remove(productField.id)" type="button" class="p-0 btn btn-danger circle">
                          <i class="bi bi-trash"></i>
                        </button>
                      </td>
                    </tr>
            
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
