<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>

  <div class="main-container">
    <div class="row">
      <div class="main-container">
        <div class="row">
          <div class="container-fluid container-sty">
            <div class="table-container">
              <div class="table-head">
                <p-toolbar>
                  <div class="p-toolbar-group-start">
                    <h2 class="h-color">Product Field</h2>
                  </div>
                  <div class="p-toolbar-group-end">
                    <p-button class="bg-b-color" routerLink="/add-ProductField">
                      <i
                        class="bi bi-plus-lg"
                        style="font-size: 20px; font-weight: bold"
                      ></i
                      >&nbsp;Add Product Field
                    </p-button>
                  </div>
                </p-toolbar>
              </div>
              <div class="card">
                <p-table
                  [value]="fields"
                  [tableStyle]="{ 'min-width': '50rem' }"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Type</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-fields>
                    <tr>
                      <td class="text-center">{{ fields.name }}</td>
                      <td class="text-center">{{ fields.type }}</td>
                      <td class="text-center">{{ fields.status }}</td>

                      <td class="text-center">
                        <p-button
                          (onClick)="editProductField(fields.id)"
                          icon="bi bi-pen"
                          pTooltip="Edit" tooltipPosition="top" class=' mr' [outlined]="true" [rounded]="true"  [raised]="true" severity="success"
                        >
                        </p-button>
                        <p-button
                          (click)="showDialog(fields.id)"
                          icon="bi bi-trash"
                          pTooltip="Trash" tooltipPosition="top" class=' mr' [outlined]="true" [rounded]="true"  [raised]="true" severity="danger"
                        >
                        </p-button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="Delete Permission"
  class="form-hook"
  [(visible)]="visible"
  [style]="{ width: '50vw' }"
>
  <h4 class="mb-4">
    Are sure you want to delete this Field on Name {{ getFieldNameById(fID)  }}
  </h4>
  <p-button (click)="deleteFieldByID(fID)" class="bg-b-color">
    <i class="bi bi-trash" style="font-size: 20px; font-weight: bold" ></i
    >&nbsp;Confirm Delete
  </p-button>
</p-dialog>
