
<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
        <div class="body-holder">
            <app-dashboard-head></app-dashboard-head>

            <div class="main">
                <div class="card flex justify-content-center">
                    <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
                </div>
                <div class="body-card">
                    <p-toast></p-toast>
                    <div class="card">
                        <h1 class="mb-4 h-color">Add Assignment Attachments</h1>
                        <form #domesticShipmentForm="ngForm">

                            <div class="grid">
                                <h2 class="sm:col-12  mb-4 mt-4">Attachments</h2>
                                    <div class=" lg:col-6 md:col-12 sm:col-12 ">
                                        <div class="flex flex-column gap-2 form-hook">
                                            <h3 for="">Tamm paper</h3>
                                            <p-fileUpload name="file" method="post" [headers]="headers" (onError)="onError($event)" [url]="url.concat('/Tamm paper')" (onUpload)="onUpload($event,'Tamm paper')" accept=".pdf,.png,.jpeg,.jpg"
                                                [maxFileSize]="size">         
                                                <ng-template pTemplate="content">
                                                    <div class="w-full">
                                                        <div class="grid" style="background-color: #f8f9fa; border:1px solid #dee2e6"  *ngFor="let file of TammPaper">
                                                            <div class="col-10 flex align-items-center justify-content-center"><h3 class="text-center">{{ file.fileName }}</h3></div>
                                                            <div class="col-2">   <p-button pTooltip="Delete" (click)="confirm1(file.fileName,file.id)"  tooltipPosition="top" icon="bi bi-trash" class='ml' styleClass="p-button-rounded p-button-danger p-button-text p-button-raised">
                                                            </p-button></div>
                                                        </div>
                                                    </div>
                                                </ng-template>                                    
                                            </p-fileUpload>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [rejectVisible]="false" [style]="{width: '50vw'}"></p-confirmDialog>