
.card-section-i{
    width:40%;
}
.card-section-c{
    width:60%;
}

.card-section-i>.bi{
   font-size:40px;
   color:#ffffff;
}
  

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#ffdb4d,#ffee80);
}

.bg-c-orange {
    background: linear-gradient(45deg,#FAA43A,#ffc57e);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.bg-w{
   color: #ffffff;
}




/* Large devices (lg) */
@media (min-width: 1200px) {
    .container {
      display: flex;
      justify-content: center;
    }
  
    .box {
      width: 20%; /* 5 divs in 1st row */
      padding:5px 5px;
    }
  }
  
  /* Medium devices (md) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .box {
      width: 30%; /* 3 divs in 1st row, 2 divs in 2nd row */
      padding:5px 5px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .box {
      width: 50%; /* 1 div in 1st row */
      padding:5px 5px;
    }
  }
  
  /* Extra small devices (xs) */
  @media (max-width: 767px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .box {
      width: 100%; /* 1 div in 1st row */
      padding:5px 5px;
    }
  }