<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'5000ms'"></p-toast>
          <div class="table-head">
            <div class="flex mb-2 align-items-center gap-1" style="justify-content: flex-end; align-items: flex-end;">

              <p-button class="bg-b-color" routerLink="/add-project-vehicle">
                <i class=" bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add Project Vehicle
              </p-button>
              <!-- <div class="flex flex-column gap-2 ml-5">
                <p-fileUpload #fileUpload icon="pi pi-download" iconPos="left"
                  styleClass="p-button-outlined p-button-sm" mode="basic" chooseLabel="Upload" name="myfile[]"
                  [customUpload]="true" (uploadHandler)="onUpload($event)" (onSelect)="onFileSelect()">
                </p-fileUpload>
                <ng-container *ngIf="fileSelected">
                  <button class="p-button p-button-outlined p-button-sm" (click)="onCancel()">Cancel</button>
                </ng-container>

              </div> -->
              <!-- <div class="flex flex-column gap-2 ml-5">
                <p-button label="Download Sample" (click)="downloadAttachment(fileName)" icon="bi bi-download"></p-button>
              </div> -->
            </div>
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <h2 class="h-color">Project Vehicle</h2>
              </div>
              <div class="form-hook">

              </div>
            </p-toolbar>
          </div>


          <div class="card">
            <p-table [value]="projectVehicles" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Project Name</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Number of Rental</th>
                  <th class="text-center">Number of Lease</th>
                  <th class="text-center">total Cost of Rental</th>
                  <th class="text-center">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-vehicles let-i="rowIndex">
                <tr >
                  <td style="text-align: center;">{{vehicles.id}}</td>
                  <td style="text-align: center;">{{vehicles.projectName}}</td>
                  <td style="text-align: center;">{{vehicles.date}}</td>
                  <td style="text-align: center;">{{ countRental && countRental[countRental.length - 1] }}</td>
                  <td style="text-align: center;">{{ countLease && countLease[countLease.length - 1] }}</td>
                  <td style="text-align: center;">{{ totalRentalCost }}</td>
                  <td class="text-center flex" style="text-align: center;padding-left: 30%;">
                    <p-button [routerLink]="['/edit-project-vehicle', vehicles.id]" pTooltip="Edit" tooltipPosition="top" [rounded]="true" icon="bi bi-pen" [raised]="true" class='ml mr' severity="success" [outlined]="true"></p-button>
                    <p-button [routerLink]="['/view-project-vehicle', vehicles.id]" pTooltip="View" tooltipPosition="top" [rounded]="true" icon="bi bi-eye" [raised]="true" class='ml mr' severity="primary" [outlined]="true"></p-button>
                    <p-button [routerLink]="['/show-vehicle',vehicles.id]" pTooltip="Show Vehilce" tooltipPosition="top" [rounded]="true" icon="bi bi-truck" [raised]="true" class='ml mr' severity="warning" [outlined]="true"></p-button>
                    <p-button (click)="deleteProjectVehicleById(vehicles.id)" pTooltip="Delete Project Vehicle" tooltipPosition="top" [rounded]="true" icon="bi bi-trash" [raised]="true"  severity="danger"class='ml mr' [outlined]="true"></p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="card flex justify-content-center">

              <!-- <p-paginator [rows]="query.size" [first]="query.page * query.size" [totalRecords]="totalRecords"
                (onPageChange)="onPageChange(value,$event)" [alwaysShow]="false" [pageLinkSize]="4"
                [showCurrentPageReport]="true">
              </p-paginator> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
