<div class="flex flex-row">
  <div class="body-position">
    <div class="body-holder">

      <div class="main">
        <div class="body-card">
          <div class="card">
            <h1 class="mb-4 h-color">Invoice Upload</h1>

            <form #employeeForm="ngForm">
              <div class="grid">
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Invoice Type</label>
                    <p-dropdown
                    [options]="invoiceType"
                    [(ngModel)]="selectedInvoiceType"
                    optionLabel="name"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Select Invoice Type" />
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Invoice Month</label>
                    <p-calendar
                    [(ngModel)]="date"
                    view="month"
                    dateFormat="mm/yy"
                    [readonlyInput]="true"
                    [ngModelOptions]="{standalone: true}"
                    (onSelect)="onDateSelect($event)"
                    />
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <p-toast />
                    <p-fileUpload
                    mode="basic"
                    chooseLabel="Choose"
                    chooseIcon="pi pi-upload"
                    name="demo[]"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    maxFileSize="1000000"
                    (onSelect)="onFileSelect($event)" />
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <p-button
                    (onClick) = "onUpload()"
                    >upload</p-button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card">
            <div class="card flex flex-wrap justify-content-left gap-3">
              <p-calendar
                    [(ngModel)]="invoiceMonthSearch"
                    view="month"
                    dateFormat="mm/yy"
                    [readonlyInput]="true"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Search By Invoive Month"
                    />
              <span class="w-auto">
                <p-dropdown
                    [options]="invoiceType"
                    [(ngModel)]="invoiceTypeSearch"
                    optionLabel="name"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="Search by Invoice Type" />
                  <p-button class="ml-2" (onClick)="searchInvoiceFile()">
                    Search
                  </p-button>
              </span>
              <div class="ml-auto">
                <p-button
                  class="adjust mt-3"
                  (click)="downloadSampleFile()"
                >
                  <i class="pi pi-fw pi-download"></i>&nbsp; Sample Download
                </p-button>
              </div>
            </div>
            <p-table [value]="invoiceFileList" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="date" class="text-center">
                    Upload Date
                    <p-sortIcon field="date"></p-sortIcon>
                  </th>
                  <th pSortableColumn="uploadedBy" class="text-center">
                    Uploaded By
                    <p-sortIcon field="uploadedBy"></p-sortIcon>
                  </th>
                  <th pSortableColumn="fileName" class="text-center">
                    File Name
                    <p-sortIcon field="fileName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="invoiceMonth" class="text-center">
                    Invoice Month
                    <p-sortIcon field="invoiceMonth"></p-sortIcon>
                  </th>
                  <th pSortableColumn="invoiceType" class="text-center">
                    Invoice Type
                    <p-sortIcon field="invoiceType"></p-sortIcon>
                  </th>
                  <th pSortableColumn="uploadStatus" class="text-center">
                    Upload Status
                    <p-sortIcon field="uploadStatus"></p-sortIcon>
                  </th>
                  <th class="text-center">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-invoiceFileList>
                <tr>
                  <td class="text-center" [routerLink]="['/invoice-details', invoiceFileList.id]">{{invoiceFileList.createdAt}}</td>
                  <td class="text-center" [routerLink]="['/invoice-details', invoiceFileList.id]">{{invoiceFileList.createdBy.name}}</td>
                  <td class="text-center" [routerLink]="['/invoice-details', invoiceFileList.id]">{{invoiceFileList.fileName}}</td>
                  <td class="text-center" [routerLink]="['/invoice-details', invoiceFileList.id]">{{invoiceFileList.invoiceMonth}}</td>
                  <td class="text-center" [routerLink]="['/invoice-details', invoiceFileList.id]">{{invoiceFileList.invoiceType}}</td>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <p-button icon="pi pi-fw pi-download" styleClass="p-button-sm"
                              (click)="downloadInvoiceFile(invoiceFileList.fileName)"></p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
