<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
        <div class="body-holder">
            <app-dashboard-head></app-dashboard-head>

            <div class="main">
                <div class="card flex justify-content-center">
                    <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
                </div>

                <div class="body-card">
                    <div class="card">
                        <h1 class="mb-4 h-color">View Project Vehicle</h1>
                        <div class="grid">
                            <div class="col-12 md:col-12 lg:col-6">
                                <label htmlFor="name" Style="color: #2e026d"><strong>Project Name: </strong></label>
                                <label for="">{{projectVehicle.projectName}}</label>
                            </div>
                            <div class="col-12 md:col-12 lg:col-6">
                                <label htmlFor="name" style="color: #2e026d"><strong> Start Date: </strong></label>
                                <label for="">{{ projectVehicle.date?.toString() | date: 'longDate' }}</label>
                            </div>
                            <div style="width: 100%;margin-top: 40px;">
                                <h1 class="mb-4 h-color">Vehicles</h1>
                            </div>
                            <div style="width: 50%;" *ngFor="let projectVehicleField of projectVehicle.projectVehicleValuesList; let i = index">  
                                <div class="col-12 md:col-12 lg:col-6">
                                    <div>
                                       <br> 
                                        <h2 style="color: #400099;">{{i+1}}.</h2>
                                       </div> 
                                       <br>
                                <label htmlFor="name" Style="color: #2e026d"><strong> Plate Number: </strong></label>
                                <label for="">{{projectVehicleField.plateNumber}}</label>
                            </div>
                            <div class="col-12 md:col-12 lg:col-6">
                                <label htmlFor="name" Style="color: #2e026d"><strong> Rental Lease: </strong></label>
                                <label for="">{{projectVehicleField.type}}</label>
                            </div>
                            <div class="col-12 md:col-12 lg:col-6">
                                <label htmlFor="name" Style="color: #2e026d"><strong>Lease Cost: </strong></label>
                                <label for="">{{projectVehicleField.leaseCost}}</label>
                            </div>
                            <div class="col-12 md:col-12 lg:col-6">
                                <label htmlFor="name" Style="color: #2e026d"><strong>Vendor: </strong></label>
                                <label for="">{{projectVehicleField.vendor.vendorName}}</label>
                            </div>
                        </div>
                        </div>
                        <br>
                        <br>
                        <div class="flex align-items-center justify-content-end mt-4">
                            <p-button type="button" styleClass="p-button-sucess" [routerLink]="['/project-vehicle']">Back</p-button>
                          </div>
                </div>
            </div>
        </div>
    </div>
</div>
