<div class="flex flex-row">
  <app-sidebar></app-sidebar>
  <div class="body-position">
    <div class="body-holder">
      <app-dashboard-head></app-dashboard-head>

      <div class="main">
        <div class="card flex justify-content-center">
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="body-card">
          <p-toast
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'5000ms'"
          ></p-toast>
          <div class="table-head">
            <div
              class="flex mb-2 align-items-center gap-1"
              style="justify-content: flex-end; align-items: flex-end"
            ></div>
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <h2 class="h-color">Show Vehicle</h2>
              </div>
              <div class="p-toolbar-group-start">
                <div class="">
                  <p-calendar
                    [showIcon]="true"
                    [style]="{ width: '89%' }"
                    placeholder="Search Rental Date"
                    name="rentalDate"
                    (onSelect)="searchByRentalDate()"
                    [disabled]="searchWithLease === true"
                    [(ngModel)]="searchDates.rentalDate"
                    #rentalDate="ngModel"
                  />
            <p-toolbar [style]="{ 'padding-top': '1.5rem' }">
              <div class="p-toolbar-group-start h-color">
                <h2><strong> Search By :&nbsp; </strong></h2>
                <div class="ml-7">
                  <span class="p-float-label">
                    <p-calendar
                      [showIcon]="true"
                      [style]="{ width: '89%' }"
                      placeholder="Search Rental Date"
                      name="rentalDate"
                      (onSelect)="searchByRentalDate()"
                      [disabled]="searchWithLease === true"
                      inputId="float-rentalDate"
                      [(ngModel)]="searchDates.rentalDate"
                      #rentalDate="ngModel"
                    />
                    <label for="float-rentalDate">Search Rental Date</label>
                  </span>
                </div>
                <div class="">
                  <span class="p-float-label">
                    <p-calendar
                      [showIcon]="true"
                      [style]="{ width: '89%' }"
                      name="startLeaseDate"
                      placeholder="Search Lease Start Date"
                      (onSelect)="searchByLeaseDates()"
                      inputId="float-startLeaseDate"
                      [disabled]="searchWithLease === false"
                      [(ngModel)]="searchDates.startLease"
                      #rentalDate="ngModel"
                    />
                    <label for="float-startLeaseDate">Search Lease Start Date</label>
                  </span>
                </div>
                <div class="">
                  <span class="p-float-label">
                    <p-calendar
                      [showIcon]="true"
                      [style]="{ width: '92%' }"
                      name="expiryLeaseDate"
                      placeholder="Search Lease Expiry Date"
                      inputId="float-expiryLeaseDate"
                      (onSelect)="searchByLeaseDates()"
                      [disabled]="searchWithLease === false"
                      [(ngModel)]="searchDates.expiryLease"
                      #rentalDate="ngModel"
                    />
                    <label for="float-expiryLeaseDate">Search Lease Expiry Date</label>
                  </span>
                </div>
                <div class="">
                  <p-dropdown
                    id="vehicleType4"
                    [(ngModel)]="selectedVehicleType"
                    [options]="vehicleTypes"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="All"
                    (onChange)="
                      getProjectVehicleById(projectVehicleId!, $event.value)
                    "
                  ></p-dropdown>
                  <span class="p-float-label">
                    <p-dropdown
                      id="vehicleType4"
                      [(ngModel)]="selectedVehicleType"
                      [options]="vehicleTypes"
                      optionLabel="label"
                      optionValue="value"
                      inputId="float-vehicleType"
                      placeholder="Search Vehicle Type"
                      (onChange)="
                        getProjectVehicleById(projectVehicleId!, $event.value)
                      "
                    ></p-dropdown>
                    <label for="float-vehicleType">Search Vehicle Type</label>
                  </span>
                </div>
              </div>
            </p-toolbar>
            <p-toolbar>
              <div class="p-toolbar-group-start">
                <h2 class="h-color">Show Vehicles</h2>
              </div>
            </p-toolbar>
          </div>

          <div class="card">
            <p-table
              [value]="projectVehicle?.projectVehicleValuesList!"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Plate Number</th>
                  <th class="text-center">Lease Cost</th>
                  <th class="text-center">Type</th>
                  <th
                    *ngIf="showOriginDestination === true"
                    class="text-center"
                  >
                    Origin
                  </th>
                  <th
                    *ngIf="showOriginDestination === true"
                    style="text-align: center"
                  >
                    Destinition
                  </th>
                  <th
                    *ngIf="showOriginDestination === true"
                    style="text-align: center"
                  >
                    Rental Date
                  </th>
                  <th *ngIf="showLease === true" style="text-align: center">
                    Start Lease
                  </th>
                  <th *ngIf="showLease === true" style="text-align: center">
                    Expiry Lease
                  </th>
                  <th *ngIf="showLease === true" style="text-align: center">
                    Duration
                  </th>
                  <th class="text-center">Vendor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-projectVehicleValue>
                <tr>
                  <td style="text-align: center">
                    {{ projectVehicleValue.id }}
                  </td>
                  <td style="text-align: center">
                    {{ projectVehicleValue.plateNumber }}
                  </td>
                  <td style="text-align: center">
                    {{ projectVehicleValue.leaseCost }}
                  </td>
                  <td style="text-align: center">
                    {{ projectVehicleValue.type }}
                  </td>
                  <td style="text-align: center" *ngIf="showOriginDestination">
                    {{
                      projectVehicleValue.type != "Leased"
                        ? projectVehicleValue?.origin
                        : ""
                    }}
                  </td>
                  <td style="text-align: center" *ngIf="showOriginDestination">
                    {{
                      projectVehicleValue.type != "Leased"
                        ? projectVehicleValue.destination
                        : ""
                    }}
                  </td>
                  <td style="text-align: center" *ngIf="showOriginDestination">
                    {{
                      projectVehicleValue.type != "Leased"
                        ? (projectVehicleValue.rentalDate | date : "mediumDate")
                        : ""
                    }}
                  </td>
                  <td style="text-align: center" *ngIf="showLease">
                    {{
                      projectVehicleValue.type == "Leased"
                        ? (projectVehicleValue?.startLease
                          | date : "mediumDate")
                        : ""
                    }}
                  </td>
                  <td style="text-align: center" *ngIf="showLease">
                    {{
                      projectVehicleValue.type == "Leased"
                        ? (projectVehicleValue?.expiryLease
                          | date : "mediumDate")
                        : ""
                    }}
                  </td>
                  <td style="text-align: center" *ngIf="showLease">
                    {{
                      projectVehicleValue.type == "Leased"
                        ? projectVehicleValue.duration
                        : ""
                    }}
                  </td>
                  <td style="text-align: center">
                    {{ projectVehicleValue?.vendor?.vendorName }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8" class="text-center">
                    No Vehicle Found {{ searchType }}.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
