<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
      <div class="body-holder">
        <app-dashboard-head></app-dashboard-head>
  
        <div class="main">
          <div class="card flex justify-content-center">
              <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
          </div>
          <div class="body-card">
              <div class="table-head">
                  <p-toolbar>
                      <div class="p-toolbar-group-start">
                        <h2 class="h-color">Role List</h2>
                      </div>
                      <div class="p-toolbar-group-end">
                          <p-button class="bg-b-color" routerLink="/add-role">
                            <i class="bi bi-plus-lg" style="font-size: 20px;font-weight: bold;"></i>&nbsp;Add Role
                          </p-button>
                      </div>
                  </p-toolbar>
              </div>
            
  
            <div class="card">
              <p-table [value]="roles" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    
                    <th class="text-center">Role</th>
                    <th class="text-center">Permission</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-roles>
                  <tr>
                    <td class="text-center">{{ roles.name }}</td>
                    <td class="text-center">
                        <ng-container *ngFor="let permissions of roles.permission; let last = last">
                            {{permissions.name}}{{ !last ? ',' : '' }}
                        </ng-container>
                    </td>
                    <td class="text-center"> 
                      <p-button routerLink="/edit-role" icon="bi bi-pen" class='mr'pTooltip="Edit" tooltipPosition="top"  [outlined]="true" [rounded]="true" [raised]="true" severity="success">
                       
                      </p-button>
                       <p-button icon="bi bi-trash" class='ml' [outlined]="true" pTooltip="Trash" tooltipPosition="top"  [rounded]="true" [raised]="true" severity="danger">
                      
                       </p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
