<div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="body-position">
      <div class="body-holder">
        <app-dashboard-head></app-dashboard-head>
  
        <div class="main">
          <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
          </div>
          <div class="body-card">
            <p-toast></p-toast>
            <div class="card">
              <h1 class="mb-4 h-color">Add Vehicle</h1>
              <form #vehicleForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="grid">
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">PO Number</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="processOrderNumber"
                      [(ngModel)]="vehicle.processOrderNumber"
                      #processOrderNumber="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="processOrderNumber.invalid && (processOrderNumber.dirty || processOrderNumber.touched)"
                    > Process OrderNumber Name is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Plate Number</label>
                    <input
                    pInputText
                    id="name"
                    aria-describedby="name-help"
                    name="plateNumber"
                    [(ngModel)]="vehicle.plateNumber"
                    #plateNumber="ngModel"
                    required
                  />
                  <small 
                      id="name-help" class="color-red" 
                      *ngIf="plateNumber.invalid && (plateNumber.dirty || plateNumber.touched)"
                  > Plate Number is required
                  </small>
                  
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Make</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="make"
                      [(ngModel)]="vehicle.make"
                      #make="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="make.invalid && (make.dirty || make.touched)"
                    > Make is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">year</label>
                    <!-- <p-dropdown
                      class="w-full"
                      [(ngModel)]="vehicle.year"
                      [options]="dummyData"
                      name="year"
                      #year="ngModel"
                      [required]="true"
                      optionLabel="years"
                      optionValue="years"
                      [showClear]="true"
                      placeholder="Select Year
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="vehicle"
                        >
                          <div>{{ vehicle.year }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-dummyData pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ dummyData.years }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown> -->
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="year"
                      [(ngModel)]="vehicle.year"
                      #year="ngModel"
                      required
                    />
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Design</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="design"
                      [(ngModel)]="vehicle.design"
                      #design="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="design.invalid && (design.dirty || design.touched)"
                    > Design is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Model</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="model"
                      [(ngModel)]="vehicle.model"
                      #model="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="model.invalid && (model.dirty || model.touched)"
                    > Model is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Type</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="type"
                      [(ngModel)]="vehicle.type"
                      #type="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="type.invalid && (type.dirty || type.touched)"
                    > Model is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Capacity</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="capacity"
                      [(ngModel)]="vehicle.capacity"
                      #capacity="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)"
                    > Capacity is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Power</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="power"
                      [(ngModel)]="vehicle.power"
                      #power="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="power.invalid && (power.dirty || power.touched)"
                    > Power is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Registration Expiry</label>
                    <p-calendar #registrationExpiry
                    name="registrationExpiry"
                    [required]="true"
                    [(ngModel)]="vehicle.registrationExpiry" [showIcon]="true"
                    [style]="{'width': '100%'}"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Fuel Type</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="fuelType"
                      [(ngModel)]="vehicle.fuelType"
                      #fuelType="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="fuelType.invalid && (fuelType.dirty || fuelType.touched)"
                    > Fuel Type Expiry is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2 form-hook">
                    <label htmlFor="name">Vendor</label>
                    <p-dropdown
                      class="w-full"
                      [(ngModel)]="vehicle.vendor"
                      [options]="vendors"
                      name="vendor"
                      #vendor="ngModel"
                      [required]="true"
                      optionLabel="vendorName"
                      [filter]="true"
                      filterBy="vendorName"
                      [showClear]="true"
                      placeholder="Select Vendor
                    "
                    >
                      <ng-template pTemplate="selectedItem">
                        <div
                          class="flex align-items-center gap-2"
                          *ngIf="vehicle.vendor"
                        >
                          <div>{{ vehicle.vendor.vendorName }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-vendors pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ vendors.vendorName }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="vendor.invalid && (vendor.dirty || vendor.touched)"
                    > Vendor is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Insurance Expiry</label>
                    <p-calendar #insuranceExpiry
                    name="insuranceExpiry"
                    [required]="true"
                    [(ngModel)]="vehicle.insuranceExpiry" [showIcon]="true"
                    [style]="{'width': '100%'}"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Lease Cost</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="leaseCost"
                      [(ngModel)]="vehicle.leaseCost"
                      #leaseCost="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="leaseCost.invalid && (leaseCost.dirty || leaseCost.touched)"
                    > Lease Cost is required
                    </small>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Lease Start Date</label>
                    <p-calendar #leaseStartDate
                    name="leaseStartDate"
                    [required]="true"
                    [(ngModel)]="vehicle.leaseStartDate" [showIcon]="true"
                    [style]="{'width': '100%'}"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Lease Expiry Date</label>
                    <p-calendar #leaseExpiryDate
                    name="leaseExpiryDate"
                    [required]="true"
                    [(ngModel)]="vehicle.leaseExpiryDate" [showIcon]="true"
                    [style]="{'width': '100%'}"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                  <div class="flex flex-column gap-2">
                    <label htmlFor="name">Usage Type</label>
                    <input
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      name="usageType"
                      [(ngModel)]="vehicle.usageType"
                      #usageType="ngModel"
                      required
                    />
                    <small 
                        id="name-help" class="color-red" 
                        *ngIf="usageType.invalid && (usageType.dirty || usageType.touched)"
                    > Usage Type is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="flex align-items-center justify-content-end mt-4">
                <p-button
                  label="Cancel"
                  class="bg-o-color mr"
                  routerLink="/vehicle"
                  styleClass="p-button-text"
                  >
                </p-button>
                <p-button label="Save" type="submit" class="bg-b-color ml" [disabled]="vehicleForm.invalid || vehicleForm.invalid === null"> </p-button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>